FLASK_ENV=development
SQLALCHEMY_DATABASE_URI=postgresql://<username>:<password>@localhost:5432/ai_chatbot
APP_NAME="AI Chatbot"
JWT_SECRET_KEY="your_jwt_secret_key"
ADMIN_EMAIL="dilshansamarakoon2020@gmail.com"
JWT_ACCESS_TOKEN_EXPIRES=3600

